<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.css">

    <!-- Bootstrap Grid CSS -->
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap-grid.css">

    <!-- Bootstrap Reboot CSS -->
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap-reboot.css">

    <!-- Hover CSS -->
    <link type="text/css" rel="stylesheet" href="../static/css/hover-min.css">

    <!-- Style Sheet CSS -->
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">

    <title>Create Sprint</title>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="#">Agility</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Team Page</a>
        </li>
    </ul>
    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="#">Log Out</a>
        </li>
    </ul>
</nav>

<h1>Create Sprint</h1>

{% extends "base.html" %}

{% block content %}
    <div class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.start_date.label }}<br>
             {{ form.start_date(size=45) }}<br>
        </p>
        <p>
            {{ form.end_date.label }}<br>
            {{ form.end_date(size=45) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}
</html>